@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdminMH2";
}

<div>
    <h3>
        Add new House
    </h3>
    
    <form enctype="multipart/form-data" method="post" action="/House/HouseUpload">
        
        <div>
            <input name="RoomCount" type="number" placeholder="RoomCount"  />
            <input name="Address" placeholder="Address"  />
            <input name="Cost" type="number" placeholder="Цена/мес." />
            <input name="Metro" placeholder="ближайшая ст м" list="metroList" />
            <input name="MetroDistance" placeholder="расстояние до метро" type="number" />
        </div>
        
        
        <datalist id="metroList">
            @foreach (var metro in (List<string>) ViewData["metroList"])
            {
                <option>@metro</option>
            }
        </datalist>
        
        
        <div>
            <input name="MainImg" type="file" />
            <input type="file" multiple="multiple" name="Images">
            
        </div>
        
        @* Is Rent <input name="IsRenting" type="checkbox" /> *@
        @* Is Buy <input name="IsBuying" type="checkbox" /> *@
        
        
        <br>
        <div>
            
            <textarea name="description" placeholder="description" style="min-width: 600px;" ></textarea>
        </div>
        
        <div>
            
            <input type="submit" value="create" />
        </div>
        
    </form>
    
    
    
    <script type="text/javascript">
    
    
    
     function getFileData () {
    
                        imgContainer = document.getElementById('imgContainer');
    
    
                        let finput = document.getElementById('file-input');
                        finput.onchange = function (e) {
    
                            let f = e.target.files[0];
    
                            let img = new Image();
    
                            let reader = new FileReader();
    
                            img.onload = function (e) {
                                
                                reader.readAsArrayBuffer(f);
                            }
    
                            img.src = URL.createObjectURL(f);
    
                            reader.onloadend = function (e) {
    
                                let buf = reader.result;
                                let uintbuf = new Uint8Array(buf);
    
                                sendFile(uintbuf);
                            }
    
                        }
    
                    }
    
     function sendFile(buffer) {
    
                        let url = "/api/Avatars";
    
                        let data = {
                            Buffer: buffer.toString(),
                            FileName: "some.jpg",
                            UserId: "<%=User.UserId %>"
                        };
    
                        fetch(url, {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify(data)
                        }).then((data) => {
                            console.log(data);
                        });
    
    
                    }
    </script>
    
</div>
