<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://itchief.ru/examples/vendors/bootstrap-4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" href="/css/mainPage.css">

</head>
<body class="site-bg-color">

<header id="head" class="head-grid">
    
    <div>
        <img src="/img/logoMH.png" width="100%" height="100%"></img>
    </div>
    <div class="head-bg-color">
        <div class="right-block">
            8-800-555-35-35 
        </div>
        
        <div>
            @* <div class="head-flex head-font head-margin" align="center"> *@
            @*     <div class="head-left-margin"> *@
            @*         <a href="/Main">Главная</a> *@
            @*     </div> *@
            @*     <div class="head-left-margin"> *@
            @*         <a href="/About">О нас</a> *@
            @*     </div> *@
            @*     <div class="head-left-margin"> *@
            @*         <a href="/Request/CreateView">Оставит заявку</a> *@
            @*     </div> *@
            @* *@
            @* </div> *@
            
            <div class="my-2 my-md-0 me-md-3 head-margin" align="center">
                <a class="p-2 text-dark" href="/Main">Главная</a>
                <a class="p-2 text-dark" href="/About">О нас</a>
                <a class="p-2 text-dark" href="/Request/CreateView">Оставит заявку</a>
            </div>
            
        </div>
        
    </div>
    
</header>

@RenderBody()

<footer>
    
</footer>
</body>
</html>