@model List<House>

@{
    ViewBag.Title = "title";
    Layout = "_LayoutMH";
}


<div>
    <h2>Home page</h2>

    <div class="center-block">
        center text
        <div>
            <form  action="/Main" method="post">
                <input type="text" name="Search" />
                <br>
                IsRenting <input type="checkbox" name="IsRenting" />
                <br>
                IsBuying <input type="checkbox" name="IsBuying" />
                <br>
                RoomCount <input type="number" name="RoomCount" />
                <input type="submit" value="search" />
            </form>
        </div>
    </div>    
    <div class="houses-grid">
        @foreach (var house in Model)
        {
            <div class="house-card">
                <div>
                    <img src="img/houses/@house.MainImg" width="100%" height="100%" />
                </div>
                <div>
                    <a href="/Main/House/@house.Id">
                        <h1>
                            @house.Address
                        </h1>
                    </a>
                    
                </div>
            </div>
            
        }
    </div>
</div>

