
.head{
    
    display: grid;
    
    
}

.head-grid{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.testr{
    background-color: red;
}

.testb{
    background-color: blue;
}

.testg{
    background-color: green;
}

.head-bg-color{
    background-color: #8fd19e;
}

.site-bg-color{
    background-color: #b1ae6c;
}

.head-flex{
    display: flex;
}


.head-font{
    font-size: large;
    font-weight: bolder;
    align-content: center;
    text-align: center;
}

.right-block{
    float: right;
}


.head-margin{
    margin-left: 30%;
    margin-top: 70px;
}

.head-left-margin{
    margin-left: 40px;
}


.center-block{
    margin-left: 10%;
    background-color: red;
    width: 80%;
}

.about-block{
    margin-left: 10%;
    background-color: gray;
    width: 80%;
    min-height: 500px;
}

.houses-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media all and  (max-width: 800px) {
    .houses-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.house-card{
    display: grid;
    grid-template-rows: 40% 1fr;
    margin: 2px;
}


.serach-block{
    margin-top: 20px;
    width: 600px;
}


.carousel-container{
    margin-left: 20px;
    width: 459px;
    height: 338px;
}

img.carousel-img{
    width: 450px;
    height: 338px;
}
