

.test-tost{
    background-color: #0f6674;
}

@media all and (max-width: 1000px) {
    
    #about{
        width: 100%;
    }
    
}

@media all and (min-width: 1001px) {

    #about{
        margin-left: 15%;
        margin-right: 15%;
        width: 70%;
    }
    
}