@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_LayoutMH2";
}

<div>
    <h4>Задать новый пароль</h4>
    <form method="post" action="/Admin/PasswordSet">
        <input name="OldPassword" placeholder="старый пароль" type="password"  />
        <input name="NewPassword" placeholder="новый пароль" type="password"  />
        <input type="submit" value="сменить пароль" />
    </form>
</div>
