@model HouseRequest

@{
    ViewBag.Title = "title";
    Layout = "_LayoutMH";
    
    
}

<h2>Оставить заявку</h2>

<div align="center">
    
    <div>
        <form method="post" action="/Request/Create">
            <div>
                <input placeholder="Имя" name="FirstName" />
                <input placeholder="Фамилия" name="LastName" />
                <input placeholder="Отчество" name="Patronymic" />
            </div>
            <div>
                <input name="Phone" placeholder="номер тел." type="number"/>
            </div>
            <div>
                <input name="Suggestions" placeholder="Описание (доп. пожелания)"/>
            </div>
            <div>
                <input value="@Model.RoomCount" name="RoomCount" placeholder="кол-во комнат" />
            </div>
            <div>
                <input name="AproximateAddress" placeholder="район"/>
            </div>
            <div>
                <input value="@Model.Address" name="Address" placeholder="точный адрес"/>
            </div>
            <div>
                Rent:<input name="IsRenting" placeholder="аренда" type="checkbox"/>
                
            </div>
            <div>
                Buy:<input name="IsBuying" placeholder="покупка" type="checkbox"/>
            </div>
            
            <input type="hidden" value="@Model.HouseId" name="houseId" />
            
            

            <input type="submit" value="отправить"/>

        </form>
    </div>
    
</div>