@model List<HouseRequest>

@{
    ViewBag.Title = "title";
    Layout = "_LayoutAdminMH2";
}

<div>
    <div>
        <form action="/Request/RequestsView" method="get">
            <input name="Status" list="statuses" />
            <input type="submit" value="отфильтровать" />
            
            <datalist id="statuses">
                <option>не проверено</option>
                <option>проверено</option>
                <option>в обработке</option>
                <option>в приоритете обработки</option>
                <option>в большем приоритете обработки</option>
            </datalist>
        </form>
    </div>
    
    <div>
        @foreach (var req in @Model)
            {
                <div>
                    <a href="/Request/RequestView/@req.Id">
                        <h4>
                            @req.FirstName @req.LastName <span style="color: gray; "> @req.Status </span>
                        </h4>
                    </a>
        
                </div>
        
            }
    </div>
    

</div>